@font-face {
  font-family: 'MontserratAlternates_Medium';
  src: url('src/MontserratAlternates-Medium.ttf') format('truetype');
  font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("src/background.png");

	height: 100vh;
	width: 100vw;

	overflow-x: hidden;
	overflow-y: hidden;
}
.container, .background{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.background-images {
	display: block;
	position: absolute;
}
#krug_niz {
	bottom: 0;
	left: 0;
	width: 22%;
	height: auto;
}
#krug_verh {
	top: 0;
	right: 0;
	width: 20%;
	height: auto;
}

.screen {
	display: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	opacity: 0;
  	transition: opacity 1s ease-in-out;
  	pointer-events: none;
}

.screen.active {
  opacity: 1;
  display: block;
  pointer-events: auto;
}

#logos {
	top: 0;
	left: 30px;

	width: 28%;
	height: auto;
}

#profcom_dlya_vseh-text {
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;

	height: auto;
	width: 65%;
}

#timer {
  font-family: 'MontserratAlternates_Medium', sans-serif;
  position: absolute;
  bottom: 5%;  
  right: 5%;   
  color: black; 
  text-align: right;
  z-index: 100; 
  padding: 10px;
  border-radius: 5px;
}

#date {
  font-size: 50px;  
  display: block;  
  margin: 0;
  line-height: 1.2;
}

/* Стили для времени */
#time {
  font-size: 110px;
  display: block;
  margin: 0;
  line-height: 1;
}

#logoProfVideo{
	width: 30dvw;

	position: absolute;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
}

/* Дополнительные медиазапросы для ТВ */
@media (min-width: 1920px) {
  #date { font-size: 2.5vmin; }
  #time { font-size: 6.5vmin; }
  #logoProfVideo { width: 25dvw; }
}